@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
:root {
    --color-one: #8261EE;
    --color-two: #FF589E;
    --font-one: "Raleway", sans-serif;
    --color-text-1: #777;
}
* {
    box-sizing: border-box;
}
body {
    font-family: var(--font-one);
    
}
html {
    scroll-behavior: smooth;
}
::selection {
    background: var(--color-two);
    color: #fff;
}
a {
    text-decoration: none !important;
}